<ion-header>

  <ion-navbar color="danger">
    <ion-title style="text-align: center;">Novo Produto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
      <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)"
          color="danger">
          <div [hidden]="!form.controls.name.errors.required">
            O campo é obrigatório
          </div>
      </ion-item>

      <ion-item>
        <ion-label floating>Digite aqui a quantidade.</ion-label>
        <ion-input type="number" formControlName="numero"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.numero.valid && (form.controls.numero.dirty || form.controls.numero.touched)"
          color="danger">
          <div [hidden]="!form.controls.numero.errors.required">
            O campo é obrigatório
          </div>
      </ion-item>



      <ion-item>
          <ion-label>Categorias</ion-label>
          <ion-select formControlName="categoryKey" (ionChange)="getMarcas()" interface="popover">
            <ion-option value="" [selected]="true">Selecione</ion-option>
            <ion-option *ngFor="let marca of categories | async" [value]="marca.key">{{ marca.nome }}</ion-option>
          </ion-select>
      </ion-item>


    <!-- <ion-item>
      <ion-label class="form-control-label">Preço</ion-label>
      <ion-input type="number" step="1" min="0.1" class="form-control" formControlName="price"></ion-input>
    </ion-item> -->

  <!-- <ion-item>
      <ion-label stacked>Descriçao</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
  </ion-item> -->

  <ion-item [hidden]="hasImg">
    <ion-label class="form-control-label">Foto</ion-label>
    <ion-input type="file" class="form-control" accept="image/png,image/jpeg" (change)="fileEvent($event)" formControlName="img"></ion-input>
    <ion-item *ngIf="form.controls.img.invalid && (form.controls.img.dirty || form.controls.img.touched)" class="text-danger">
      <div *ngIf="form.controls.img.errors.imgType">
        Os formatos permitidos de imagem são: png e jpeg
      </div>
    </ion-item>
  </ion-item>

  <ion-item class="form-group" [hidden]="!hasImg">
    <img src="{{ form.controls.imgUrl.value }}" class="img-thumbnail d-block" style="max-width: 100px;" [hidden]="!hasImg" />
    <button class="btn btn-secondary mt-2" type="button" (click)="removeImg()"><i class="fa fa-times" aria-hidden="true"></i>Adicionar Imagem</button>
  </ion-item>

  <div padding>
      <button ion-button block type="submit" color="dark" [disabled]="!form.valid" (click)="onSubmit()" round>Salvar</button>
  </div>

</form>
</ion-content>
