<ion-header >

  <ion-navbar color="danger">
    <ion-title style="text-align: center;">Criar Conta</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <Form [formGroup]="form">
      <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" formControlName="nome" placeholder="Digite seu Nome Completo!"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
        <div [hidden]="!form.controls.nome.errors.required">
          o campo é obrigatorio
        </div>
      </ion-item>

      <ion-list>
          <ion-item>
            <ion-label>Área de atuação</ion-label>

            <ion-select>
              <ion-option value="gerente">Gerente</ion-option>
              <ion-option value="vr">Vend. Responsavel</ion-option>
              <ion-option value="vendedor">Vendedor</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>


      <ion-item>
            <ion-label stacked>Data de nascimento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="nascimento" placeholder="DD/MM/YYYY"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="!form.controls.nascimento.valid && (form.controls.nascimento.dirty || form.controls.nascimento.touched)" color="danger">
          <div [hidden]="!form.controls.nascimento.errors.required">
          o campo é obrigatorio
          </div>
        </ion-item>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" formControlName="email" placeholder="@email.com"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
          <div [hidden]="!form.controls.email.errors.required">
          o campo é obrigatorio
          </div>
        </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Digite sua Senha!"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.password.valid && (form.controls.password.dirty || form.controls.password.touched)" color="danger">
          <div [hidden]="!form.controls.password.errors.required">
          o campo é obrigatorio
          </div>
        </ion-item>

      <div padding>
        <button ion-button block color="dark" (click)="onSubmit()" type="submit" [disabled]="! form.valid">
          Cadastrar
        </button>
      </div>



    </Form>

</ion-content>
